<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTASEÑA MODIFICADO</title>
  </head>
  <body
    style="
      font-size: 18px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
    "
  >
    <h2 style="font-size: 36px">Hola {}</h2>
    <h1 style="padding: 20px; background-color: rgba(0, 226, 0, 0.288); color: green">
      SU CONTRASEÑA HA SIDO MODIFICADO
    </h1>
    <h3 style="font-size: 28px; font-weight: 500;">
      Si usted no lo hizo, restablezca inmediatamente la contraseña de su cuenta {}.
    </h3>
    <a
      href="{}"
      style="
        background-color: springgreen;
        padding: 15px 40px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        border-radius: 10px;
      "
      >REESTABLECER CONTRASEÑA</a
    >
    <h3 style="font-weight: 400;">Por favor no responder a este mensaje ya que es automatico</h3>
  </body>
</html>
