<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>

<body>
    <h1>Recetear password</h1>
    <p>Hola {}, has solicitado el reinicio de tu contraseña de tu cuenta {}?</p>
    <p>haz click en el siguiente link
        <b> <a class="link" style="background-color: brown; padding: 10px; border: 0;" target="_blank" href='{}/reset-password'>CLICK AQUI</a> </b> para cambiar
    </p>
    <p>sino has sido tu ignora este mensaje</p> <br />
    <h3>Por favor no responder a este mensaje ya que es automatico</h3>

    <footer>By eRe</footer>
</body>

</html>